.initial{
  width: 100vw;
  background-color: #EEEEEE;
  flex-direction: column;
}

.initial-carousel {
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}

.initial-slides {
  max-width: 1200px;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.initial-slide-box {
  width: 100vw;
  flex-direction: row;
  display: flex;
}

.initial-img-box {
  display: flex;
  margin-left: 30px;
  justify-content: center;
  align-items: center;

  width: 50%;
  max-width: 500px;
  
}
.initial-img-box {
  display: flex;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 500px;
}
.initial-img {
  width: 100%;
}

.initial-text-box {
  width: 50%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 600px;
}

.initial-title {
  color: #97002B;
  font-size: 40px;
  font-weight: bold;
}

.initial-text {
  color: #681371;
  font-size: 20px;
  font-weight: bold;
}

.initial-navigation {
  position: relative;
  display: flex;
  justify-content: center;
}

.initial-navigation label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #EEEEEE;
  border: 2px solid #681371;
  margin: 0 5px;
  cursor: pointer;
}

.initial-navigation label:hover {
  background: #681371;
  border: 2px solid #681371;
}

.initial-navigation label.checked {
  background: #681371;
  border-color: #681371;
}

.slides-0-initial {
  transform: translateX(0);
}

.slides-1-initial {
  transform: translateX(-100vw);
}

.slides-2-initial {
  transform: translateX(-200vw);
}

.slides-3-initial {
  transform: translateX(-300vw);
}

@media (max-width: 900px){
  .initial-slide-box {
    width: 100vw;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .initial-carousel{
    margin-bottom: 50px;
  }
  .initial-img-box {
    margin-left: 0;
    width: 90%;
  }
  .initial-text-box{
    bottom: 50px;
    width: 90%;
  }

}