.box_botao_proximo{
  margin-top: 20vh;
  margin-left: 5vw;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #681371;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transition: transform 0.3s ease;
}

.arrow:hover::after {
  transform: translateY(-50%) rotate(45deg);
}

.sobre{
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_sobre {
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  background-color: #EEEEEE;
}

.slides_sobre {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.box_slide_sobre {
  flex-direction: row;
  display: flex;
  width: 90vw;
  background-color: #EEEEEE;
}

.imagem_slide_sobre {
  width: 50%;
}

.box_imagem_slide_sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
}

.box_texto_slide_sobre {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.title_slide_sobre {
  color: #97002B;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.text_slide_sobre {
  color: #681371;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}



@media (max-width: 900px){
  .box_slide_sobre {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .box_texto_slide_sobre{
    padding: 30px 0;
  }
  
  .carousel_sobre{
    margin-bottom: 0;
  }
  
  .box_botao_proximo_teste{
    margin-top: 20vh;
    margin-left: 0;

  }

}