.projetos{
  width: 100vw;
  background-color: #681371;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_projetos{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_projetos {
  position: relative;
  width: 75vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides_projetos {
  display: flex;
  width: 100vw;
  max-width: 800px;
  transition: transform 0.3s ease-in-out;
}

.slide_projetos {
  flex: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #97002B;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.slide_projetos:hover {
  transform: scale(1.1);
}

.slide_projetos.active_slide {
  display: flex;
}

.img_slide_projetos{
  width: 80%;
  height: 80%;
  max-width: 600px;
  height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title_slide_projetos {
  font-size: 50px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: bold;
}

.text_slide_projetos {
  font-size: 30px;
  width: 90%;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 30px;
}

.navigation_projetos {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navigation_projetos label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.navigation_projetos label.active_slide {
  background-color: #555;
}

.arrow_left {
  display: inline-block;
  cursor: pointer;
  background-color: #681371;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 70px;
  z-index: 9999;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.arrow_left::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transition: transform 0.3s ease;
}

.arrow_left:hover::after {
  transform: translateY(-50%) rotate(45deg);
}

.arrow {
  display: inline-block;
  cursor: pointer;
 
  background-color: #681371;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transition: transform 0.3s ease;
}

.arrow:hover::after {
  transform: translateY(-50%) rotate(45deg);
}

.box_botoes{
  justify-content: space-between;
  position: relative;
  width: 100%;
  top: 0;
  display: none;

  justify-content: center;
  align-items: center;
}

.nextSlideProjetos{
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.previousSlideProjetos{
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}


@media (max-width: 900px){
  .projetos{
    width: 100vw;
    background-color: #681371;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .box_projetos{
    display: block;
  
  }
  .carousel_projetos{
    width: 90vw;
  }
  
  .box_botoes{
    z-index: 9999;
    display: block;
  }  
  .arrow_left{
    margin-right: 50px;
    background-color: #97002B;
  }

  .previousSlideProjetos{
    display: none;
  }
  .nextSlideProjetos{
    display: none;
  }
  .arrow{
    background-color: #97002B;
  }
  .slides_projetos {
    display: flex;
    width: 90vw;
    max-width: 800px;
    transition: transform 0.3s ease-in-out;
  }

  .img_slide_projetos{
    width: 80%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  

  .slide_projetos:hover {
    transform: scale(1);
  }
}